/* Variabler */

/* Font faces */

@font-face {
  font-family: "Bebas";
  src: url(../fonts/BebasNeue-Regular[1].woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-VariableFont_wdth\,wght[1].woff2) format("woff2");
}

:root {
  /* Colours */
  --primary-light: #48a89a;
  --primary-dark: #081e1c;
  --secondary-light: #cbefeb;
  --secondary-dark: #00524c;
  --black: #000000;
  --gradient: linear-gradient(94deg, #00524c 0.42%, #00b8ab 114.35%);


  --text-dark: #081e1c;
  --text-light: #ffffff;

  /* General */
  --border-card: 20px;
  --border-btn: 5px;

  /* Fonts */
  --h1-font-family: "Bebas", sans-serif;
  --font-family: "Roboto", sans-serif;
  --font-weight-400: 400;
  --font-weight-500: 500;

  /* H1 skal ændres efter html og js implementering*/
  --h1-size-s: 2.5rem;
  --h1-size-l: 3.75rem;

  /* H2 */
  --h2-size-s: 1.8rem;
  --h2-size-l: 2.25rem;

  /* H3 */
  --h3-size-s: 1.7rem;
  --h3-size-l: 2rem;

  /* P & A */
  --text-size-s: 1rem;
  --text-size-l: 1.125rem;
}
}

/* Product Card Styles */
.product_card_container a {
  text-decoration: none;
}
.product_card {
  background-color: transparent;
  border: solid 2px var(--primary-light);
  /* tilpas gradient border hvis tid / opdater styling efter C  */
  border-radius: 20px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: var(--secondary-light);
}

.product_name,
.brand,
.reviews,
.product_text,
.price {
  color: var(--secondary-light);
  padding: 5px;
}
.reviews {
  color: var(--primary-light);
}
.price {
  font-weight: bold;
  text-align: end;
}

.produktbillede img {
  width: 100%;
  object-fit: cover;
  justify-items: center;
  margin-bottom: 20px;
}

.reviews {
  text-decoration: underline;
}

.rating {
  margin: auto;
  width: 120px;
  height: 25px;
}

.rating img {
  width: 100%;
  height: 100%;
}
