/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------- Mobil version ----------------------------- */

/* Header */

/* Footer */

/* Primary button */

/* Secondary button */

/* Fonts */
body {
  font-family: var(--font-family);
}

h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-size-s);
}

h2 {
  font-size: var(--h2-size-s);
}

h3 {
  font-size: var(--h3-size-s);
}

p,
a {
  font-size: var(--text-size-s);
}

/* -------------------------------- Desktop version ------------------------------ */

@media (min-width: 800px) {
  /* Header */

  /* Footer */

  /* Primary button */

  /* Secondary button */

  /* Fonts */

  h1 {
    font-size: var(--h1-size-l);
  }

  h2 {
    font-size: var(--h2-size-l);
  }

  h3 {
    font-size: var(--h3-size-l);
  }

  p,
  a {
    font-size: var(--text-size-l);
  }
}
