/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------- Mobil version ----------------------------- */

/* Fonts */

body {
  color: var(--text-light);
}

main {
  background-color: var(--black);
  padding: 20px;
}

h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-size-s);
}

h2 {
  font-size: var(--h2-size-s);
  font-family: var(--font-family);
}

h3 {
  font-size: var(--h3-size-s);
  font-family: var(--h1-font-family);
}

p,
a {
  font-size: var(--text-size-s);
  font-family: var(--font-family);
}

/* Header */
.header_main {
  background-color: var(--black);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}
.burger {
  display: block;
  background-color: transparent;
  border: 0;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}
.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}
.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}
nav.active .menu {
  display: block;
  background-color: var(--black);
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
nav.active .menu li {
  margin: 10px 20px;
}
nav.active .menu a {
  font-size: 24px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-light);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  display: block;
  padding: 10px;
  color: var(--text-light);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}
.menu a:hover,
.footer_menu a:hover {
  text-decoration: underline;
}

.header_border {
  background-image: var(--gradient);
  height: 3px;
  width: 100%;
}

/* Footer */
footer nav {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: auto;
}

.footer_menu {
  list-style: none;
  display: grid;
  grid-template-rows: auto;
  gap: 1.5rem;
}

.footer_menu li a {
  color: var(--text-light);
  text-decoration: none;
}

.align_right {
  text-align: end;
}

.footer_logo p {
  text-align: center;
  padding-top: 1.5rem;
}

/* Primary button */

.primary_btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: var(--border-btn);
  transition: transform 0.2s ease;
  color: var(--text-light);
  background-image: var(--gradient);
}

.primary_btn:hover,
.secondary_btn:hover {
  transform: scale(0.96);
}

/* Secondary button (fungerer kun på sort baggrund)*/

.secondary_btn {
  display: inline-block;
  background: transparent;
  padding: 0.5rem 2rem;
  background-image:
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0)), var(--gradient);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: solid 2px transparent;
  border-radius: var(--border-btn);
  transition: transform 0.2s ease;
  text-decoration: none;
}

.btn_label {
  background-image: linear-gradient(var(--text-light));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* -------------------------------- Desktop version ------------------------------ */

@media (min-width: 800px) {
  /* Fonts */

  h1 {
    font-size: var(--h1-size-l);
  }

  h2 {
    font-size: var(--h2-size-l);
  }

  h3 {
    font-size: var(--h3-size-l);
  }

  p,
  a {
    font-size: var(--text-size-l);
  }

  /* Header */
  .burger {
    display: none;
  }

  .menu {
    display: flex;
  }

  /* Footer */

  /* Primary button */

  /* Secondary button */
}
