/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------- Mobil version ----------------------------- */

/* Index */

/* Productlist */

/* Productdetails */

/* -------------------------------- Desktop version ------------------------------ */

@media (min-width: 800px) {
  /* Index */

  /* Productlist */

  /* Productdetails */
}
